body { 
  background-color: #f9f9fa;
}

.main {
  padding: 10px 0;
}

.flash-message {
  text-align: center;
  color: #ff0000;
}

/* 検索フォーム */
.search-area {
  padding-top: 10px;
}

.search-area h1 {
  font-size: 20px;
  margin-bottom: 5px;
}

.search-form {
  background-color: #ffffe0;
  width: 80%;
  margin: 10px auto;
  padding: 20px;
  text-align: center;
  border-radius: 3px;
  box-shadow: 6px 6px 9px #ddd;
}

.text-input {
  font-size: 18px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
}

.checkbox {
  display: inline-block;
}

.submit-btn {
  width:70px;
  height:30px; 
  border-radius:40px;
  border:none;
  color:#fff;
  background-color:#7fbfff;
  font-size:16px;
  margin-top: 10px;
}

.submit-btn:hover {
color:#666;
}

/* 店舗一覧 */
.store-contents-info {
  margin: 30px auto 0;
  padding: 0 10px;
  border-bottom: 1px solid gray;
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.store-contents-title,
.send-new-page {
  font-size: 25px;
}

.send-new-page {
  text-decoration: none;
  color: #666;
  margin-left: 10px;
}

.send-new-page:hover {
  color: #000;
  text-decoration: none;
}

.store-lists {
  width: 85%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}

.card {
  margin: 20px 5px;
  min-height: 500px;
}

.image {
  position: relative;
}

.mask {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 0.6s;
  z-index: 1;
  text-align: center;
  font-size: 25px;
}

.image:hover .mask {
  opacity: 0.8;
  padding-top: 80px;
  color: #fff;
  text-decoration: none;
  text-align: center;
}

.card-body {
  background-color: #FFFFE0;
}

/* 店舗住所 */
.card-body p:nth-child(2){
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  text-overflow: ellipsis;
}

.info-icon {
  width: 20px;
  height: 20px;
}
.tags {
  min-height: 70px;
}

.tag {
  color: #fff;
  background-color: #364e96;
  padding: 8px;
  border-radius: 5px;
  font-size: 10px;
  display: inline-block;
  margin-top: 5px;
  font-weight: bold;
}

.average-score {
  display: flex;
  justify-content: center;
}

.star-rating {
  position: relative;
  width: 5em;
  height: 1em;
  font-size: 17px;
}

.star-rating-front {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  white-space: nowrap;
  color: #ffcc33;
  height: 25px;
}

.star-rating-back {
  color: #ccc;
}

.detail-btn {
  display: none;
}

.btn {
  width: 100%;
  margin: 0 auto;
}

/* ページネーション表示部分 */
.pagination {
  justify-content: center;
  margin-top: 30px;
}

.pagination>li>a {
  color: #696969;
}

.pagination>li>a:hover {
  color: #177bfb;
  transition: all .3s ease;
}

* {
  box-sizing: border-box;
}

/*タブレット・スマートフォン向け記述*/
@media screen and (max-width: 1024px) {
  .flash-message {
    font-size: 12px;
  }

  .detail-btn {
    display: block;
    width: 75%;
    margin: 10px auto;
  }

  .mask {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  /* 検索フォーム */
  .search-area h1 {
    font-size: 12px;
  }
  
  .laundry_search,
  .text-input {
    font-size: 10px;
  }

  .store-contents-title {
    font-size: 15px;
  }

  /* 店舗情報 */
  .card {
    max-width: 90%;
    margin: 20px auto;
  }
}