body { 
  background-color: #f9f9fa;
}

.main {
  padding: 10px 0;
}

.flash-message {
  text-align: center;
  color: #ff0000;
}

/* 検索フォーム */
.search-area {
  padding-top: 10px;
}

.search-area h1 {
  font-size: 20px;
  margin-bottom: 5px;
}

.search-form {
  background-color:  #ffffe0;
  width: 80%;
  margin: 10px auto;
  padding: 20px;
  text-align: center;
  border-radius: 3px;
  box-shadow: 6px 6px 9px #ddd;
}

.text-input {
  font-size: 18px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
}

.submit-btn {
  width:70px;
  height:30px; 
  border-radius:40px;
  border:none;
  color:#fff;
  background-color:#7fbfff;
  font-size:16px;
  margin-top: 10px;
}

.submit-btn:hover {
color:#666;
}

/* 店舗一覧 */
.store-contents-info {
  margin: 30px auto 0;
  padding: 0 10px;
  border-bottom: 1px solid gray;
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.store-contents-title,
.send-new-page {
  font-size: 25px;
}

.send-new-page {
  text-decoration: none;
  color: #666;
  margin-left: 10px;
}

.send-new-page:hover {
  color: #000;
  text-decoration: none;
}

.store-lists {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  margin: 20px;
  transform: scale(1.0);
  transition: all .3s ease;
}

.card:hover {
  transform: scale(1.1);
}

.show-btn {
  text-decoration: none;
  font-size: 16px;
  text-align: center;
  padding: 8px 40px;
  display: inline-block;
  border-radius:40px;
  border: 2px solid green;
  color:green;
  margin-bottom: 5px;
}

.show-btn:hover {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.25s ease;
  background-color: green;
}

.hidden-btn {
  margin-top: 15px;
}

/* ページネーション表示部分 */
.pagination {
  justify-content: center;
  margin-top: 30px;
}

.pagination>li>a {
  color: #696969;
}

.pagination>li>a:hover {
  color: #177bfb;
  transition: all .3s ease;
}

* {
  box-sizing: border-box;
}
