.main,
.store-show,
.new-store-contents,
.new-store-contents, 
.form-wrap {
  background-color: #f9f9fa;
}

.main {
  padding: 10px 0;
}

.flash-message {
  text-align: center;
  color: #ff0000;
}

.search-area {
  padding-top: 10px;
}

.search-area h1 {
  font-size: 20px;
  margin-bottom: 5px;
}

.search-form {
  background-color:  #ffffe0;
  width: 80%;
  margin: 10px auto;
  padding: 20px;
  text-align: center;
  border-radius: 3px;
  box-shadow: 6px 6px 9px #ddd;
}

.text-input {
  font-size: 18px;
  margin-bottom: 10px;
}

.submit-btn {
  width:70px;
  height:30px; 
  border-radius:3px;
  border:none;
  color:#fff;
  background-color:#7fbfff;
  font-size:16px;
  margin-top: 10px;
}

.submit-btn:hover {
color:#666;
}

.store-contents {
  height: calc(100vh - 150px);
  overflow-x: scroll;
}

.store-contents-info {
  margin: 20px 50px ;
  border-bottom: 1px solid gray;
  display: flex;
  justify-content: space-between;
}

.store-contents-title, .send-new-page {
  font-size: 20px;
}

.send-new-page {
  text-decoration: none;
  color: #000;
  margin-left: 10px;
}

.store-lists {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.list {
  width: 30%;
  height: 200px;
  margin: 8px;
  border: 1px solid gray;
  background-color: #fff;
  border-radius: 3px;
}

.store-info {
  width: 100%;
  height: 150px;
  padding: 1vw;
  font-size: 15px;
  text-align: center;
}

.btn {
  padding: 20px 0;
}

.show-btn {
  text-decoration: none;
  font-size: 16px;
  text-align: center;
  padding: 8px 30px;
  display: inline-block;
  border-radius: 5%;
  color: #fff;
  background-color: #f68b1f;
  border-bottom: 5px solid #d56f09;
  margin-bottom: 5px;
}

.show-btn:hover {
  margin-top: 3px;
  color: #000;
  background: #fd9535;
  border-bottom: 2px solid  #d56f09;
}

.hidden-btn a {
  text-decoration: none;
  color: #000;
  padding: 5px;
}

.hidden-btn a:hover {
  background-color: #7fbfff;
  color: #fff;
}

.store-info p {
  font-weight: bold;
  font-size: 14px;
}

* {
  box-sizing: border-box;
}
