.back-top {
  display: inline-block;
  font-size: 20px;
  margin: 20px;
  padding: 10px;
  color: #000;
  transition: .3s;
  transform: scale(1);
}

.back-top:hover {
  color: #000;
  text-decoration: none;
  transform: scale(1.2);
}

.search-result {
  font-size: 25px;
  width: 80%;
  margin: 10px auto 0;
}