/* new-store-contentsは店舗新規登録画面の要素  */
.store-show,
.new-store-contents {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5vh 0;
}

.text, .comment-title {
  font-size: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid gray;
  padding: 20px;
  text-align: center;
  width: 70%;
}

.store-box {
  width: 70vw;
  padding: 10vh 7vh;
  margin-bottom: 30px;
  text-align: center;
}

.store-image {
  width: 80%;
  height: 80%;
  margin-bottom: 40px;
}

.detail-table {
  width: 100%;
}

.detail-table tr:nth-child(odd) {
  background-color: #eee
}

.detail-value, .detail-store {
  border: 1px solid #4D4D4F;
}

.detail-store {
  padding: 5px;
  width: 30%;
  text-align: center;
}

.detail-value {
  padding-left: 10px;
}

#map {
height: 500px;
width: 65%;
margin-bottom: 30px;
}

/* 店舗切り替え */
.links {
  margin-bottom: 20px;
  width: 70%;
  display: flex;
  position: relative;
  height: 30px;
}

.prev-btn, .next-btn {
  display: block;
  text-decoration: none;
  font-size: 20px;
  color: #4D4D4F;
  margin: 0 40px;
  position: absolute;
}

.prev-btn {
  left: 0;
}

.next-btn {
  right: 0;
}

.prev-btn:hover, .next-btn:hover {
  color: red;
}

/* 口コミ投稿機能 */
.comment-box {
  width: 70%;
}

.comment-form {
  text-align: center;
}

/* 口コミ投稿欄 */
.acd-check{
  display: none;
}

.acd-label::before{
  content:"＋ "
}

.acd-check:checked + .acd-label::before{
  content:"ー "
}

.acd-label {
  display: block;
  margin-bottom: 20px;
  padding : 15px;
  line-height: 1;
  color :#fff;
  background : #3CCACE;
  cursor :pointer;
}

/* 口コミ投稿欄（アコーディオン前） */
.form{
  height: 0;
  opacity: 0;
  padding: 0 10px;
  transition: .5s;
  visibility: hidden;
  background-color: #ddeeee;
  border-radius: 5px;
}
/* 口コミ投稿欄（アコーディオン後） */
.acd-check:checked + .acd-label + .form{
  height: 450px;
  opacity: 1;
  padding: 10px;
  visibility: visible;
  border-radius: 5px;
}

.comment-field { 
  margin-bottom: 10px;
}

.text-label {
  display: block;
}

.comment-text {
  resize: none;
  width: 80%;
  height: 130px;
  padding: 10px;
}

.submit-warn {
  font-size: 10px;
  font-weight: bold;
}

.comment-btn {
  line-height: 48px;
  background-color: #3CCACE;
  color: #fff;
  width: 20%;
  min-width: 150px;
  font-size: 18px;
  border-radius:100px;
  border: none;
  margin-top: 15px;
}

.comment-warn {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.comments {
  width: 100%;
  text-align: center;
}

/* コメント表示欄 */
.comment-title {
width: 100%;
}

.comment-area {
  background-color: #f9f9fa;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 500px;
  overflow-y: scroll;
}

.comment {
  background-color: #fff;
  width: 100%;
  margin: 10px auto;
  text-align: left;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  position: relative;
}

.delete-btn {
  width: 20px;
  height: 20px;
  opacity: 0.6;
  position: absolute;
  right: 10px;
}

.comment > span {
  color: gray;
}

.comment > p {
  font-size: 15px;
  margin: 5px 0;
}
