<%# cssは店舗登録のものを併用
app/assets/stylesheets/laundry/new.css %>

<div class="new-store-contents">
  <h1 class="text">
    店舗編集
  </h1>
  <%= form_with model:@laundry, url: laundry_path(@laundry.id), class: "laundry-form", local: true do |f| %>
    <%= render partial: 'form', locals: {f: f} %>
  <% end %>
</div>