<div class="new-store-contents">
  <h1 class="text">
    店舗登録
  </h1>
  <%= form_with model:@laundry, url: laundries_path, class: "laundry-form", local: true do |f| %>
    <%= render partial: 'form', locals: {f: f} %>
  <% end %>
</div>
<%= javascript_pack_tag 'auto-input'%>