<%# cssは店舗一覧表示のものと併用
app/assets/stylesheets/laundry/index.css %>
<div class="store-contents-info">
  <h1 class="store-contents-title">検索結果<h1>
</div>
<div class="store-contents">
  <% if @results.length != 0 %>
    <ul class="store-lists">
      <% @results.reverse.each do |laundry| %>
        <%= render partial: 'laundry', locals: { laundry: laundry}%>
      <% end %> 
    </ul>
  <% else %>
      <p class="search-result">該当店舗はありませんでした</p>
  <% end %>
</div>
<%= link_to '＜＜一覧画面へ戻る', root_path, class: 'back-top' %>
