footer {
  height: 50px;
  margin: 0 auto;
  padding: 10px;
  background-image: url('image-5102bf81d7102f27ce2f9d5f900206692180b61ef0b54b735ddcd507b2e51d3e.jpg');
  background-size: cover;
  color:#000;
}

footer p {
  text-align: center;
}