header {
  width: 100%;
  height: 100px;
  padding: 30px 4%;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #FC8D99;
  position: relative;
}

.header_title {
  font-size: 30px;
  color: #fff;
  font-family: sans-serif;
}

.header_title:hover {
  text-decoration: none;
  color: #fff;
}

.nav-link {
  font-size: 20px;
  color: #fff;
  text-decoration: none;
  margin-left: 20px;
  transition: all .3s ease;
}

.dropdown {
  padding-bottom: 5px;
}

.user-name {
  font-size: 20px;
  display: inline;
  color:#fff;
  transition: all .3s ease;
}

.dropdown-toggle::after {
  color: #fff;
  transition: all .3s ease;
}

.nav-link:hover,
.dropdown-toggle:hover::after {
  color: #7c0008;
}

.dropdown-menu.active {
  display: block;
}