header {
  width: 100%;
  height: 100px;
  padding: 30px 4%;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: url('image.jpg');
  background-size: cover;
}

header a, .user_name, .header-list {
color: #000;
 text-decoration: none;
 margin: 0 10px;
}

.header_title {
  font-size: 25px;
}

.header-list {
padding: 15px;
display: flex;
font-size: 20px;
}
