/* 登録画面 */
.form-wrap {
  min-height: calc(100vh - 110px);
  padding-bottom: 70px;
  margin: 0 auto;
  text-align: center;
  font-size: 18px;
}

.form-wrap h2 {
  width: 70%;
  font-size: 20px;
  margin: 0 auto 20px;
  border-bottom: 1px solid gray;
  padding: 20px;
}

/* 入力欄のラベル */
.field {
  margin-top: 15px;
}

/* 必須ラベル */
.indispensable {
  border: 1px solid #000;
  font-size: 12px;
  background-color: #f00;
  color: #fff;
  border: none;
  padding: 8px;
  font-weight: bold;
  border-radius: 3px;
}

/* 登録・ログインの入力欄 */
.info-text {
  height: 45px;
  width: 250px;
  margin-top: 10px;
  padding-left: 10px;
}

/* フォーム送信ボタン */
.actions {
  height: 70px;
  width: 170px;
  color: #fff;
  border: none;
  margin: 35px 0;
  border-radius: 5px;
  font-size: 20px;
  background-color: #E95B6B;
}

.login-info { 
  display: none;
}

.send-sign-up,
.test-user, 
.test-admin {
  border-bottom: 1px solid #b63000;
  transition: .3s;
}

.send-sign-up:hover,
.test-user:hover, 
.test-admin:hover {
  text-decoration: none;
  color: #b63000;
}

@media screen and (max-width: 767px) {
  .form-wrap {
    min-height: calc(100vh - 105px);
  }

  .form-wrap h2 {
    font-size: 15px;
    margin: 0 auto 10px;
    padding: 10px;
  }

  .field {
    font-size: 12px;
  }

  .info-text {
    font-size: 12px;
    margin: 0;
    height: 40px;
    width: 200px;
  }  

  .indispensable {
    font-size: 10px;
    padding: 4px;
  }
  
  .actions {
    height: 50px;
    width: 120px;
    font-size: 15px;
  }
  
  .test-login,
  .send-registration {
    font-size: 15px;
  }
}